<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyTapHoa.Properties.Settings.QLTHConnectionString"
            connectionString="Data Source=ANH-PC;Initial Catalog=QLTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTapHoa.Properties.Settings.QLTHConnectionString1"
            connectionString="Data Source=DANGNGUYENSOAI;Initial Catalog=QLTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTapHoa.Properties.Settings.QLTHConnectionString2"
            connectionString="Data Source=THAIHUNG;Initial Catalog=QLTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTapHoa.Properties.Settings.DataQLTHConnectionString"
            connectionString="Data Source=VANCUONG;Initial Catalog=DataQLTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
